<% content_for :javascript do -%>
  <%= mapquest_include_tags %>
  <%= javascript_include_tag 'mapquest/moshi.viewcontrol', 'mapquest/moshi.zoomcontrol', 'moshimap' %>
  <%= javascript_include_tag 'fleet/frame/dashboard_pane' %>
  <%= javascript_include_tag 'fleet/frame/map_pane' %>
  <%= javascript_include_tag 'fleet/frame/map_pane/geofence' %>
  <%= javascript_include_tag 'fleet/frame/report_pane' %>
  <%= javascript_include_tag 'fleet/frame/group_pane' %>
  <%= javascript_include_tag 'fleet/frame/group_edit_pane' %>
  <%= javascript_include_tag 'fleet/frame/vehicle_pane' %>
  <%= javascript_include_tag 'fleet/frame/vehicle_edit_pane' %>
  <%= javascript_include_tag 'fleet/frame/landmark_pane' %>
  <%= javascript_include_tag 'fleet/frame/landmark_edit_pane' %>
  <%= javascript_include_tag 'fleet/frame/geofence_pane' %>
  <%= javascript_include_tag 'fleet/frame/geofence_edit_pane' %>
  <%= javascript_include_tag 'fleet/frame/user_pane' %>
  <%= javascript_include_tag 'fleet/frame/user_edit_pane' %>
  <%= javascript_include_tag 'fleet/frame/trip_history_pane' %>
  <%= javascript_include_tag 'fleet/frame/trip_player_pane' %>
  <%= javascript_include_tag 'fleet/frame/invoice_pane' %>
  
  <%= javascript_include_tag 'fleet/dashboard_controller' %>
  <%= javascript_include_tag 'fleet/map_controller' %>
  <%= javascript_include_tag 'fleet/report_controller' %>
  <%= javascript_include_tag 'fleet/landmark_controller' %>
  <%= javascript_include_tag 'fleet/geofence_controller' %>
  <%= javascript_include_tag 'fleet/user_controller' %>
  <%= javascript_include_tag 'fleet/billing_controller' %>
  
  <%= javascript_include_tag 'alert_recipients.js' %>
  <%= javascript_include_tag 'device_profiles/form' %>
  <%= javascript_include_tag 'tags' %>
  
  <script type="text/javascript">
    jQuery(function() {
      Fleet.init();
      
      jQuery(window).unload(function() {
        Fleet = null;
      });
    });
  </script>
<% end -%>

<div id="dashboard_range_type">
  Time Period &nbsp; &nbsp; <%= select_tag :range_type, options_for_select(range_options_report_card, :selected => @range_type, :disabled => disabled_range_options) %>
</div>

<div id="fleet_loading">Please wait...</div>
<div id="frame_header_top"><div class="left"></div><div class="right"></div></div>
<div id="frame_header" class="scrollbar-fix"></div>
<div id="frame"></div>
