<% content_for :javascript do -%>
  <%= mapquest_include_tags %>
  <%= javascript_include_tag 'mapquest/moshi.viewcontrol', 'mapquest/moshi.zoomcontrol', 'moshimap' %>
  <%= javascript_include_tag 'fleet/frame/map_pane' %>
  <%= javascript_include_tag 'fleet/frame/landmark_pane' %>
  <%= javascript_include_tag 'fleet/frame/landmark_edit_pane' %>
  <%= javascript_include_tag 'fleet/frame/group_pane' %>
  <%= javascript_include_tag 'fleet/frame/vehicle_pane' %>
  <%= javascript_include_tag 'fleet/frame/report_pane' %>
  <%= javascript_include_tag 'fleet/frame/dashboard_pane' %>
  <%= javascript_include_tag 'fleet/dashboard_controller' %>
  <%= javascript_include_tag 'fleet/map_controller' %>
  <%= javascript_include_tag 'fleet/report_controller' %>
  <%= javascript_include_tag 'fleet/landmark_controller' %>
  
  <script type="text/javascript">
    jQuery(function() {
      Fleet.init();
    });
  </script>
<% end -%>

<div id="fleet_loading">Please wait...</div>
<div id="frame_header_top"><div class="left"></div><div class="right"></div></div>
<div id="frame_header" class="scrollbar-fix"></div>
<div id="frame"></div>
