<% form_for trip do |f| -%>
  <div class="color"><img src="<%= trip.color.filename %>" /></div>
  <div class="detail">
    <h4><%= h(trip.device.name) %></h4>
    <strong><%= trip.start.in_time_zone(current_user.zone).to_s(:local) %></strong>
    <p><%= human_miles(trip.miles) %> over <%= human_duration(trip.duration) %></p>
    <p>Max Speed: <%= trip.max_speed %> mph</p>
    <p>Average Speed: <%= trip.average_speed %> mph</p>
    <p>Average RPM: <%= trip.average_rpm %></p>
    <p>MPG: <%= trip.average_mpg %></p>
    <p>Events: <%= trip.events.length %></p>
    
    <h4>Tags</h4>
    <%= render :partial => 'tags/list', :locals => {:object => trip, :field_prefix => "trip"} %>
  </div>
  <div class="spacer"></div>
  <div style="float:right">
    <div class="loading"></div>
    <%= link_to 'Cancel ', '#', {:class => 'cancel simple'} %>
    <%= link_to 'Save ', '#', {:class => 'save simple'} %>
  </div>
  <div class="clear"></div>
<% end -%>
