<% hide_collapse ||= false -%>

<div class="color"><img src="<%= trip.color.filename %>" /></div>
<div class="detail">
  <% form_tag collapse_trip_path(trip), :method => :put do -%>
    <div class="loading"></div>
    <%= link_to '', '#', {:class => 'collapse'} %>
  <% end -%>
  
  <h4><%= h(trip.device.name) %></h4>
  <strong><%= trip.start.in_time_zone(current_user.zone).to_s(:local) %></strong>
  <p><%= human_miles(trip.miles) %> over <%= human_duration(trip.duration) %></p>
  <div class="additional">
    <p>Max Speed: <%= trip.max_speed %> mph</p>
    <p>Average Speed: <%= trip.average_speed %> mph</p>
    <p>Average RPM: <%= trip.average_rpm %></p>
    <p>MPG: <%= trip.average_mpg %></p>
    <p>Events: <%= trip.events.length %></p>
    <p class="tags">
      <%= format_tags(trip.tags) %>
      (<%= link_to 'edit', '#', {:class => 'editSettings'} %>)
    </p>
    <% if trip.legs.length > 1 -%>
      <div class="legs">
        <% form_tag expand_trip_path(trip), :method => :put do -%>
          <div class="loading"></div>
          <%= link_to '', '#', {:class => 'expand'} %>
        <% end -%>
        <ul>
          <% trip.legs.each_with_index do |leg, i| -%>
            <li>Leg: <%= human_miles(leg.miles) %> over <%= human_duration(leg.duration) %></li>
            <% if i < trip.legs.length-1 -%>
              <li class="pitstop">Stop: <%= human_duration(trip.legs[i+1].start - leg.finish) %></li>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    <% end -%>
  </div>
</div>
