<div class="frame corners">
  <%= messages %>
  <div class="content">
    <h2>Smart Fleet Solutions</h2>
    <% form_tag login_path do -%>
      <div class="field">
        <label for="account_number">Account ID</label>
        <%= text_field_tag 'account_number', params[:account_number] %>
      </div>
      <div class="field">
        <label for="login">Username</label>
        <%= text_field_tag 'login', params[:login] %>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <%= password_field_tag 'password' %>
      </div>
      <div class="field">
        <label></label>
        <%= submit_tag 'Login' %>
      </div>
      <%= link_to 'Forgot My Password', forgot_password_path %>
    <% end -%>
    <div class="clear"></div>
  </div>
</div>
