<div class="frame corners">
  <%= messages %>
  <div class="content">
    <h2>Log in to mobd Fleet</h2>
    <% form_tag login_path do -%>
      <div class="field">
        <label for="account_number">Account ID</label>
        <%= text_field_tag 'account_number' %>
      </div>
      <div class="field">
        <label for="login">Username</label>
        <%= text_field_tag 'login' %>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <%= password_field_tag 'password' %>
      </div>
      <%= submit_tag 'Log in', {:style => 'display:none'} %>
      <div class="field">
        <label></label>
        <%= link_to '', '#', {:class => 'login button'} %>
      </div>
    <% end -%>
    <div class="clear"></div>
  </div>
</div>