<% @invoices.each do |invoice| -%>
  <li>
    <div class="row clear">
      <div class="listing">
        <span class="number"><%= h(invoice.id) %></span>
      </div>
      <div class="invoice_data">
        <span class="amount"><%= h(invoice.amount) %></span>
        <span class="date_due"><%= h(invoice.due_on) %></span>
        <span class="trackers"><%= h(invoice.number_of_units) %></span>
        <span class="<%= invoice.paid? ? 'paid' : 'unpaid' %>"><span>
      </div>
    </div>
  </li>
<% end -%>
