<div class="standardInfo">
  <h2><%= h(device.name) %></h2>

  <div class="field">
    <%= image_tag device.color.filename %>
    <%= device.color.name %>
  </div>

  <div class="field">
    <%= label_tag :imei_number, 'IMEI Number' %>
    <%= h(device.imei_number) %>
  </div>
</div>

<div class="alertInfo">
  <table>
    <tr>
      <td>Speed Alerts</td>
      <td><%= check_image device.alert_on_speed %></td>
    </tr>
    <tr>
      <td>Aggressive Driving Alerts</td>
      <td><%= check_image device.alert_on_aggressive %></td>
    </tr>
    <tr>
      <td>Idle Time Alerts</td>
      <td><%= check_image device.alert_on_idle %></td>
    </tr>
    <tr>
      <td>After Hours Alerts</td>
      <td><%= check_image device.alert_on_after_hours %></td>
    </tr>
  </table>
</div>

<div class="clear"></div>
<div class="buttons">
  <div class="loading"></div>
  <%= button_tag 'Edit', :class => 'edit' %>
  <%= button_tag 'Remove', :class => 'delete' %>
</div>
<div class="clear"></div>
