<% form_for device, :html => {:autocomplete => "off"} do |f| -%>
  <div class="standardInfo">
    <h3>Vehicle Details</h3>
    
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= error_message_on device, :name, :prepend_text => '* Name ' %>
    </div>
    
    <div class="field">
      <%= f.label :imei_number, 'Tracker ID' %>
      <%= f.text_field :imei_number %>
      <%= error_message_on device, :imei_number, :prepend_text => '* Tracker ID ' %>
    </div>
    
    <div class="field">
      <%= f.label :vin_number, 'VIN Number' %>
      <%= f.text_field :vin_number, :class => "vinNumber" %>
      <%= error_message_on device, :vin_number, :prepend_text => '* VIN Number ' %>
    </div>

    <div class="field lockVIN">
      <%= f.label :lock_vin, "Lock VIN?", :class => "lockVin" -%>
      <%= f.check_box :lock_vin -%>
    </div>
    
    <div class="field">
      <%= f.label :color_id, 'Color' %>
      <%= f.collection_select :color_id, Color::COLORS, :color_id, :name %>
    </div>
    
    <div class="field">
      <%= f.label :odometer, 'Odometer' %>
      <%= f.text_field :odometer, :maxlength => 6, :size => 6 %>
    </div>
    
    <h3>Tags</h3>
    <%= render :partial => 'tags/list', :locals => {:object => device, :field_prefix => "device"} %>
  </div>
  
  <div class="alertInfo">
    <h3>Vehicle Settings</h3>
    
    <!--
    <div class="field">
      <div class="loading" style="float:right"></div>
      <%= f.label :device_profile_id, 'Profile' %>
      <%= f.select :device_profile_id, current_account.device_profiles.map {|p| [p.name, p.id]},
        {:include_blank => 'None'}, {:class => 'profile'} %>
    </div>
    -->
 
    <div class="<%= device.device_profile ? 'profileSettings profileLocked' : 'profileSettings' %>">
      <div class="field note">
        These settings are controlled by your profile. Select "None" to change these settings.
      </div>
      <div class="field">
        <%= f.label :time_zone %>
        <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones.reverse, :name, :to_s, {}, {:disabled => !!device.device_profile} %>
        <%= error_message_on :device, :time_zone, :prepend_text => '* Time zone ' %>
      </div>
      
      <div class="field">
        <%= help_tooltip :speed_alert %>
        <%= f.label :alert_on_speed, 'Speed Alerts' %>
        <%= f.check_box :alert_on_speed, :class => 'alert', :disabled => !!device.device_profile %>
        <span class="extra" <%= device.alert_on_speed ? 'style="display:inline"' : '' %>>
          <%= f.select :speed_threshold, Device::VALID_SPEED_THRESHOLDS.map {|k| [k.to_s, k]}, {}, {:disabled => !!device.device_profile} %> mph
        </span>
      </div>
      
      <div class="field">
        <%= help_tooltip :aggressive_driving_alert %>
        <%= f.label :alert_on_aggressive, 'Aggressive Driving Alerts' %>
        <%= f.check_box :alert_on_aggressive, :class => 'alert', :disabled => !!device.device_profile %>
        <span class="extra" <%= device.alert_on_aggressive ? 'style="display:inline"' : '' %>>
          <%= f.select :rpm_threshold, Device::VALID_RPM_THRESHOLDS.map {|k| [k.to_s, k]}, {}, {:disabled => !!device.device_profile} %> rpm
        </span>
      </div>
      
      <div class="field">
        <%= help_tooltip :idle_alert %>
        <%= f.label :alert_on_idle, 'Idle Time Alerts' %>
        <%= f.check_box :alert_on_idle, :class => 'alert', :disabled => !!device.device_profile %>
        <span class="extra" <%= device.alert_on_idle ? 'style="display:inline"' : '' %>>
          <%= f.select :idle_threshold, Device::VALID_IDLE_THRESHOLDS.map {|k| [k.to_s, k]}, {}, {:disabled => !!device.device_profile} %> minutes
        </span>
      </div>
      
      <div class="field">
        <%= help_tooltip :after_hours_alert %>
        <%= f.label :alert_on_after_hours, 'After Hours Alerts' %>
        <%= f.check_box :alert_on_after_hours, :class => 'alert', :disabled => !!device.device_profile %>
        <span class="extra" <%= device.alert_on_after_hours ? 'style="display:inline"' : '' %>>
          From <%= f.text_field :after_hours_start_text, :size => 8, :maxlength => 8, :class => 'timepick', :disabled => !!device.device_profile %>
          to <%= f.text_field :after_hours_end_text, :size => 8, :maxlength => 8, :class => 'timepick', :disabled => !!device.device_profile %>
        </span>
      </div>

      <div class="field">
        <%= help_tooltip :reset_alert %>
        <%= f.label :alert_on_reset, 'Device Power Reset Alerts' %>
        <%= f.check_box :alert_on_reset, :class => 'alert', :disabled => !!device.device_profile %>
      </div>

      <div class="field">
        <%= help_tooltip :detect_pitstops %>
        <%= f.label :detect_pitstops, 'Detect Pitstops' %>
        <%= f.check_box :detect_pitstops, :class => 'alert', :disabled => !!device.device_profile %>
        <span class="extra" <%= device.detect_pitstops ? 'style="display:inline"' : '' %>>
          <%= f.select :pitstop_threshold, Device::VALID_PITSTOP_THRESHOLDS.map {|k| [k.to_s, k]}, {}, {:disabled => !!device.device_profile} %> minutes
        </span>
      </div>
    </div>
    
    <div class="alerts">
      <h3>Alert Recipients</h3>
      
      <input type="hidden" name="alertFieldName" value="device[alert_recipient_ids][]"/>
      <ul>
        <% device.alert_recipients.each do |a| -%>
          <li>
            <%= link_to '', '#', :class => "remove" %>
            <span><%= a.display_string %></span>
            <%= hidden_field_tag "device[alert_recipient_ids][]", a.id, :class => 'id' %>
          </li>
        <% end -%>
        <li>
          <%= link_to '', '#', :class => "add" %>
          <select class="recipientSelect">
            <%= alert_options_for(device) %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="clear"></div>
<% end -%>
