<%= paginate devices %>

<table class="data" style="width:100%">
  <thead>
    <tr>
      <th class="checkbox"><%= check_box_tag :devices_all, true, false %></th>
      <th>Name</th>
      <th>Tracker ID</th>
      <th>VIN</th>
      <th>Profile</th>
      <th>Groups</th>
      <th> </th>
    </tr>
  </thead>
  <% devices.each do |device| -%>
    <tr class="<%=cycle('','odd')%>">
      <td class="checkbox"><%= check_box_tag :devices, device.id, false, :id => dom_id(device) %></td>
      <td><%= h(device.name) %></td>
      <td><%= h(device.imei_number) %></td>
      <td><%= h(device.vin_number || '-') %></td>
      <td><%= device.device_profile ? h(device.device_profile.name) : 'None' %></td>
      <td><%= device.group_names.join(", ") -%></td>
      <td class="buttons">
        <%= link_to 'Edit', edit_device_path(device), :class => 'edit', :title => 'Edit' %>
        <%= link_to 'Delete', device_path(device), :class => 'delete', :title => 'Remove' %>
      </td>
    </tr>
  <% end -%>
</table>

<%= paginate devices %>
