<% content_for :javascript do -%>
  <%= javascript_include_tag "mass_apply" -%>
  <%= javascript_include_tag "devices/index" -%>
<% end -%>

<%= messages %>
<div class="devices">
  <div style="float:right">  
    <%= select_tag 'mass_apply', options_for_select([
          ['Apply to Selected...', ''],
          ['Set Profile', 'profile'],
          ['Add To Group', 'add_group'],
          ['Remove From Group', 'remove_group'],
        ])
    %>
  </div>
  
  <div class="buttonsLeft">
    <%= button_tag 'Add Vehicle', :class => 'addVehicle' %>
    <%= button_tag 'Vehicle Profiles', :class => 'vehicleProfiles', :onclick => "location.href = '#{device_profiles_path}';" %>
    <%= button_tag 'Vehicle Groups', :class => 'vehicleProfiles', :onclick => "location.href = '#{groups_path}';" %>
  </div>
  
  <div id="massApplyProfileForm" class="massApplyForm">
    <% form_tag apply_profile_devices_path do -%>
      <p>Set the following profile on all selected vehicles.</p>
      <br/>
      <%= select_tag 'profile_id', '<option value="">None (Clear Profile)</option>' + 
        options_from_collection_for_select(current_account.device_profiles, :id, :name) %>
      <%= hidden_field_tag 'apply_ids', '' %>
      <%= submit_tag 'Apply' %>
      <%= button_tag 'Cancel', :class => 'cancel' %>
    <% end -%>
  </div>

  <div id="addToGroupForm", class="massApplyForm">
    <% form_tag apply_group_devices_path do -%>
      <p>Add the selected vehicles to a group.</p>
      <br/>
      <%= select_tag 'group_id', options_from_collection_for_select(current_account.groups.of_devices, :id, :name) %> 
      or new: <%= text_field_tag "group_name" -%>
      <%= hidden_field_tag 'apply_ids', '' %>
      <div style='text-align: right'>
        <%= submit_tag 'Add' %>
        <%= button_tag 'Cancel', :class => 'cancel' %>
      </div>
    <% end -%>
  </div>
  
  <div id="removeFromGroupForm", class="massApplyForm">
    <% form_tag remove_group_devices_path do -%>
      <p>Remove each selected vehicle from a given group.</p>
      <br/>
      <%= select_tag 'group_id', options_from_collection_for_select(current_account.groups.of_devices, :id, :name) %>
      <%= hidden_field_tag 'apply_ids', '' %>
      <%= submit_tag 'Remove' %>
      <%= button_tag 'Cancel', :class => 'cancel' %>
    <% end -%>
  </div>
  
  <div class="clear spacer"></div>
  
  <%= paginate @devices %>
  
  <table class="data" style="width:100%">
    <thead>
      <tr>
        <th class="checkbox"><%= check_box_tag :devices_all, true, false %></th>
        <th>Name</th>
        <th>Tracker ID</th>
        <th>VIN</th>
        <th>Profile</th>
        <th>Groups</th>
        <th> </th>
      </tr>
    </thead>
    <% @devices.each do |device| -%>
      <tr class="<%=cycle('','odd')%>">
        <td class="checkbox"><%= check_box_tag :devices, device.id, false, :id => dom_id(device) %></td>
        <td><%= h(device.name) %></td>
        <td><%= h(device.imei_number) %></td>
        <td><%= h(device.vin_number || '-') %></td>
        <td><%= device.device_profile ? h(device.device_profile.name) : 'None' %></td>
        <td><%= device.group_names.join(", ") -%></td>
        <td class="buttons">
          <%= link_to 'Edit', edit_device_path(device), :class => 'edit', :title => 'Edit' %>
          <%= link_to 'Delete', device_path(device), :class => 'delete', :title => 'Remove' %>
        </td>
      </tr>
    <% end -%>
  </table>

  <%= paginate @devices %>
</div>

<div id="newAlertRecipient" class="dialog">
  <%= render :partial => 'alert_recipients/form', :locals => {:alert_recipient => current_account.alert_recipients.new} %>
</div>

<div id="removeDevice" class="dialog">
  <% form_tag devices_path, :method => :delete do -%>
  <% end -%>
  <p>If you remove this vehicle, it will be deleted permanently.</p>
  <p>Any associated vehicle history will be erased.</p>
  <p>Are you sure you want to remove this vehicle?</p>
</div>

<div id="addDevice" class="dialog">
  <% form_for @device, { :autocomplete => 'off'} do |f| -%>
    <div class="field">
      <%= label_tag :name, 'Name* ' %>
      <%= text_field_tag :name, '' %>
    </div>
    
    <div class="field">
      <%= label_tag :imei, 'Tracker ID* ' %>
      <%= text_field_tag :imei, '' %>
    </div>

    <div class="field">
      <%= label_tag :imei_confirmation, 'Confirm Tracker ID* ' %>
      <%= text_field_tag :imei_confirmation, '' %>
    </div>
    <br/>
    <p class="note">* Required Field</p>

    <p>The IMEI Number is located on the label on the Tracker.</p>
  <% end -%>
</div>
