<%= messages %>
<div class="devices">
  <div class="buttonsLeft">
    <%= button_tag 'Add Vehicle', :class => 'addVehicle' %>
  </div>
  <div class="clear spacer"></div>
  
  <table class="data" style="width:100%">
    <thead>
      <tr>
        <th><%= check_box_tag :devices_all, true, false %></th>
        <th>Name</th>
        <th>Tracker ID</th>
        <th>VIN</th>
        <th>Profile</th>
        <!-- Still questionable! Do we want these columns? -->
        <th><%= image_tag 'alert.png', :size => '16x16', :alt => 'Alert' %> Speed</th>
        <th><%= image_tag 'alert.png', :size => '16x16', :alt => 'Alert' %> Aggressive</th>
        <th><%= image_tag 'alert.png', :size => '16x16', :alt => 'Alert' %> Idle Time</th>
        <th><%= image_tag 'alert.png', :size => '16x16', :alt => 'Alert' %> After Hours</th>
        <th> </th>
      </tr>
    </thead>
    <% @devices.each do |device| -%>
      <tr class="<%=cycle('','odd')%>">
        <td><%= check_box_tag :devices, device.id, false, :id => dom_id(device) %></td>
        <td><%= h(device.name) %></td>
        <td><%= h(device.imei_number) %></td>
        <td><%= h(device.vin_number || '-') %></td>
        <td>N/A</td>
        <!-- Still questionable! Do we want these columns? -->
        <td><%= device.alert_on_speed ? "#{device.speed_threshold}mph" : "-" %></td>
        <td><%= device.alert_on_aggressive ? "#{device.rpm_threshold}rpm" : "-" %></td>
        <td><%= device.alert_on_idle ? "#{device.idle_threshold}" : "-" %></td>
        <td><%= device.alert_on_after_hours ? "#{device.after_hours_start_text} - #{device.after_hours_end_text}" : "-" %></td>
        <td class="buttons">
          <%= link_to 'Edit', edit_device_path(device), :class => 'edit', :title => 'Edit' %>
          <%= link_to 'Delete', device_path(device), :class => 'delete', :title => 'Remove' %>
        </td>
      </tr>
    <% end -%>
  </table>
</div>

<div id="newAlertRecipient" class="dialog">
  <%= render :partial => 'alert_recipients/form', :locals => {:alert_recipient => current_account.alert_recipients.new} %>
</div>

<div id="removeDevice" class="dialog">
  <% form_tag devices_path, :method => :delete do -%>
  <% end -%>
  <p>If you remove this vehicle, it will be deleted permanently.</p>
  <p>Any associated vehicle history will be erased.</p>
  <p>Are you sure you want to remove this vehicle?</p>
</div>

<div id="addDevice" class="dialog">
  <% form_for @device, { :autocomplete => 'off'} do |f| -%>
    <div class="field">
      <%= label_tag :name, 'Name* ' %>
      <%= text_field_tag :name, '' %>
    </div>
    
    <div class="field">
      <%= label_tag :imei, 'Tracker ID* ' %>
      <%= text_field_tag :imei, '' %>
    </div>

    <div class="field">
      <%= label_tag :imei_confirmation, 'Confirm Tracker ID* ' %>
      <%= text_field_tag :imei_confirmation, '' %>
    </div>
    <br/>
    <p class="note">* Required Field</p>

    <p>The IMEI Number is located on the label on the Tracker.</p>
  <% end -%>
</div>
