<% form_for landmark, :html => {:autocomplete => 'off'} do |f| -%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 20, :maxlength => 30 %>
    <%= error_message_on landmark, :name, :prepend_text => '* Name ' %>
  </div>
  
  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, :size => 11, :maxlength => 11 %>
    <%= error_message_on landmark, :latitude, :prepend_text => '* Latitude ' %>
  </div>
  
  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :size => 11, :maxlength => 11 %>
    <%= error_message_on landmark, :longitude, :prepend_text => '* Longitude ' %>
  </div>
  
  <div class="field">
    <%= f.check_box :alert_on_entry %>
    <%= f.label :alert_on_entry, 'Send alert on entry?' %>
  </div>
  <div class="field">
    <%= f.check_box :alert_on_exit %>
    <%= f.label :alert_on_exit, 'Send alert on exit?' %>
  </div>

  <div class="clear spacer"></div>
  <div class="buttons">
    <%= submit_tag "Save" %>
    <%= link_to 'Cancel', landmarks_path %>
  </div>
<% end -%>
