<% form_for landmark, :html => {:autocomplete => 'off'} do |f| -%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 20, :maxlength => 30 %>
    <%= error_message_on landmark, :name, :prepend_text => '* Name ' %>
  </div>
  
  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, :size => 11, :maxlength => 11, :class => 'latitude' %>
    <%= error_message_on landmark, :latitude, :prepend_text => '* Latitude ' %>
  </div>
  
  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :size => 11, :maxlength => 11, :class => 'longitude' %>
    <%= error_message_on landmark, :longitude, :prepend_text => '* Longitude ' %>
  </div>
  
  <div class="field">
    <%= f.label :alert_on_entry, 'Send alert on entry?' %>
    <%= f.check_box :alert_on_entry %>
  </div>
  <div class="field">
    <%= f.label :alert_on_exit, 'Send alert on exit?' %>
    <%= f.check_box :alert_on_exit %>
  </div>
  
  <%= f.collection_select :device_group_ids, current_user.groups, :id, :name, {}, {:class => 'groups', :multiple => true, :style => 'display:none'} %>
<% end -%>
