<% content_for :javascript do -%>
  <!--<%= javascript_include_tag "list_view" -%>-->
  <!--<%= javascript_include_tag "landmarks/index" -%>-->
  <!--<%= javascript_include_tag 'jquery/jquery.blockUI' %>-->
  
  <%= mapquest_include_tags %>
  <%= javascript_include_tag 'mapquest/moshi.viewcontrol' %>
  <%= javascript_include_tag 'mapquest/moshi.zoomcontrol' %>
  <!--<%= javascript_include_tag "maps/view" -%>-->
  <%= javascript_include_tag 'moshimap' %>
  
  <%= javascript_include_tag 'fleet/frame' %>
  <%= javascript_include_tag 'fleet/frame/header' %>
  <%= javascript_include_tag 'fleet/frame/map_pane' %>
  <%= javascript_include_tag 'fleet/frame/landmark_pane' %>
  <%= javascript_include_tag 'fleet/frame/landmark_edit_pane' %>
  <%= javascript_include_tag 'fleet/landmark_controller' %>
  
  <script type="text/javascript">
    jQuery(function() {
      Fleet.Frame.init();
      Fleet.LandmarkController.index();
      Fleet.Frame.open().resize();
      Fleet.loading(false);
    });
  </script>
<% end -%>

<div id="fleet_loading">Please wait...</div>
<div id="frame_header"></div>
<div id="frame"></div>
