<h3>CURRENT STATUS</h3>
<div class="section">
  <div class="time"><%= current_user.zone.now.to_s(:local) %></div>
  <div class="date"><%= current_user.zone.today.to_s(:local) %></div>
</div>
<div class="devices">
  <% devices.each do |device| -%>
    <div class="device <%= cycle('section', 'section alternating') %>" id="<%=dom_id(device)%>">
      <div class="color"><img src="<%= device.color.filename %>" /></div>
      <div class="detail">
        <h4><%= h(device.name || 'Vehicle') %></h4>
        <%= device.current_status %>
        <% if device.position -%>
          <div class="additional">
            <% data = device.data_for(current_user.zone.today) %>
            <p>Today's Average MPG: <%= data.mpg %></p>
            <p>Today's Drive Time: <%= human_duration(data.time) %></p>
            <p>Today's Miles Driven: <%= data.miles %></p>
          </div>
        <% end -%>
      </div>
    </div>
  <% end -%>
</div>
