<% content_for :javascript do -%>
  <%= mapquest_include_tags %>
  <%= javascript_include_tag 'mapquest/moshi.viewcontrol' %>
  <%= javascript_include_tag 'mapquest/moshi.zoomcontrol' %>
  <%= javascript_include_tag 'moshimap' %>
  <%= javascript_include_tag 'maps/view' %>
  
  <%= javascript_include_tag 'geofences/model' %>
  <%= javascript_include_tag 'geofences/view' %>
  <%= javascript_include_tag "geofences/form" -%>
<% end -%>

<% form_for geofence, :html => {:autocomplete => 'off'} do |f| -%>
  <% if geofence.new_record? -%>
    <div class="field">
      To create a geofence, scroll and zoom the map to where you want the geofence,
      then click on the shape of the geofence you want.
    </div> 
  <% end -%>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= error_message_on geofence, :name, :prepend_text => '* Name ' %>
  </div>
  
  <h3>Geofence Shape</h3>
  <div id="shapeChooser">
    <%= link_to '', "##{Geofence::Type::ELLIPSE}",
      :class => (geofence.geofence_type == Geofence::Type::ELLIPSE ? 'ellipse selected' : 'ellipse'),
      :title => 'Ellipse' %>
    <%= link_to '', "##{Geofence::Type::RECTANGLE}",
      :class => (geofence.geofence_type == Geofence::Type::RECTANGLE ? 'rectangle selected' : 'rectangle'),
      :title => 'Rectangle' %>
    <%= link_to '', "##{Geofence::Type::POLYGON}",
      :class => (geofence.geofence_type == Geofence::Type::POLYGON ? 'polygon selected' : 'polygon'),
      :title => 'Polygon' %>
    <%= f.hidden_field :geofence_type %>
  </div>
  
  <h3>Boundary settings</h3>
  <div class="field">
    <ul>
      <li>
        <%= f.check_box :alert_on_entry %>
        <%= f.label :alert_on_entry, 'Send alert on entry?' %>
      </li>
      <li>
        <%= f.check_box :alert_on_exit %>
        <%= f.label :alert_on_exit, 'Send alert on exit?' %>
      </li>
    </ul>
  </div>
  
  <h3>Vehicle Groups</h3>
  <fieldset>
    <div class="groupSelect">
      <% group_tree(current_user.device_group, :close_level => 0) do |group, level| -%>
        <% if level > 0 -%>
          <%= check_box_tag 'geofence[device_group_ids][]', group.id, geofence.device_groups.include?(group) %>
          <span class="checkbox"></span>
        <% end -%>
        <span class="collapsible closed"></span>
        <span class="name"><%= group.name %></span>
      <% end -%>
    </div>
  </fieldset>
  
  <div id="coordinates">
    <% geofence.coordinates.each do |coord| -%>
      <%= hidden_field_tag 'geofence[coordinates][][latitude]', coord[:latitude], :class => "latitude" %>
      <%= hidden_field_tag 'geofence[coordinates][][longitude]', coord[:longitude], :class => "longitude" %>
    <% end -%>
  </div>
  
  <div class="buttons">
    <div class="loading"></div>
    <%= link_to 'Cancel', geofences_path %>
    <%= submit_tag 'Save' %>
  </div>

  <div class="clear spacer"></div>
<% end -%>
