<% form_for geofence, :html => {:autocomplete => 'off'} do |f| -%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 20, :maxlength => 30 %>
    <%= error_message_on geofence, :name, :prepend_text => '* Name ' %>
  </div>
  
  <h3>Geofence Shape</h3>
  <div id="shapeChooser">
    <%= link_to '', "##{Geofence::Type::ELLIPSE}",
      :class => (geofence.geofence_type == Geofence::Type::ELLIPSE ? 'ellipse selected' : 'ellipse'),
      :title => 'Ellipse' %>
    <%= link_to '', "##{Geofence::Type::RECTANGLE}",
      :class => (geofence.geofence_type == Geofence::Type::RECTANGLE ? 'rectangle selected' : 'rectangle'),
      :title => 'Rectangle' %>
    <%= link_to '', "##{Geofence::Type::POLYGON}",
      :class => (geofence.geofence_type == Geofence::Type::POLYGON ? 'polygon selected' : 'polygon'),
      :title => 'Polygon' %>
    <%= f.hidden_field :geofence_type %>
  </div>
  
  <%= f.hidden_field :coordinates_text, :class => 'coordinates' %>
  
  <div class="field">
    <%= f.check_box :alert_on_entry %>
    <%= f.label :alert_on_entry, 'Send alert on entry?' %>
  </div>
  
  <div class="field">
    <%= f.check_box :alert_on_exit %>
    <%= f.label :alert_on_exit, 'Send alert on exit?' %>
  </div>
  
  <%= f.collection_select :device_group_ids, current_user.groups, :id, :name, {}, {:class => 'groups', :multiple => true, :style => 'display:none'} %>
<% end -%>
