<% content_for :javascript do %>
  <%= javascript_include_tag "geofences/index" %>
  <%= javascript_include_tag 'filter' %>  
<% end %>

<%= messages %>
<div class="geofences">
  <div class="buttonsLeft">
    <%= button_to 'Add Geofence', new_geofence_path, :method => :get %>
  </div>
  <div class="clear spacer"></div>

  <%= paginate @geofences %>
  
  <table class="data" style="width:100%">
    <thead>
      <tr>
        <th><%= check_box_tag :geofences_all, true, false %></th>
        <th>Name</th>
        <th>Type</th>
        <th>Alert on Entry?</th>
        <th>Alert on Exit?</th>
        <th></th>
      </tr>
    </thead>
    <% @geofences.each do |geofence| -%>
      <tr class="<%=cycle('','odd')%>">
        <td><%= check_box_tag :geofences, geofence.id, false, :id => dom_id(geofence) %></td>
        <td><%= h(geofence.name) %></td>
        <td><%= geofence_type geofence %></td>
        <td><%= geofence.alert_on_entry ? "true" : "false" %></td>
        <td><%= geofence.alert_on_exit ? "true" : "false" %></td>
        <td class="buttons">
          <%= link_to 'Edit', edit_geofence_path(geofence), :class => 'edit', :title => 'Edit' %>
          <%= link_to 'Delete', geofence_path(geofence), :class => 'delete', :title => 'Remove' %>
        </td>
      </tr>
    <% end -%>
  </table>

  <%= paginate @geofences %>
</div>

<div id="removeGeofence" class="dialog deleteDialog">
  <% form_tag geofences_path, :method => :delete do -%>
  <% end -%>
  <p>If you remove this geofence, it will be deleted permanently.</p>
  <p>This will also remove this geofence from any groups and vehicles using it.</p>
  <p>Are you sure you want to remove this geofence?</p>
</div>

<%= render :partial => "geofences/filter_form" %>
