<% form_for group do |f| %>
  <div>
    <h3>Group Details</h3>
    
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= error_message_on group, :name, :prepend_text => '* Name ' %>
    </div>
    
  </div>

  <% proxy = group.grade_proxy -%>
  <h3>Group Parameters</h3>
  <p>Values shown here are [key] [pass] - [fail]</p>
  <p>The values that are reversed (aka, less is fail, more is pass) are <strong><%= DeviceGroup::Grade::PARAM_REVERSED.keys.join(", ") -%></strong></p>
  <% DeviceGroup::Grade::VALID_PARAMS.each do |param| -%>
    <div>
      <span><%= param.to_s.humanize.titleize -%></span> <span class="pass"></span> - <span class="fail"></span>
      <div id="<%= param -%>_events_slider" class="<%= DeviceGroup::Grade::TIME_PARAMS[param] ? "time-slider" : "slider" -%> <%= DeviceGroup::Grade::PARAM_REVERSED[param] ? "reversed" : "" -%>">
        <%= hidden_field_tag "device_group[grading][#{param}][fail]", proxy.send(param)[:fail], :class => "fail" -%>
        <%= hidden_field_tag "device_group[grading][#{param}][pass]", proxy.send(param)[:pass], :class => "pass" -%>
      </div>
    </div>
  <% end -%>

  <div class="buttons">
    <%= link_to 'Cancel', '#', :class => 'cancel' %>
    <%= submit_tag 'Save', :class => 'save' %>
  </div>

  <div class="clear"></div>
<% end %>
