<% form_for group do |f| %>
  <div>
    <h3>Group Details</h3>
    
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= error_message_on group, :name, :prepend_text => '* Name ' %>
    </div>
    
    <div class="field">
      <%= f.label :parent %>
      <%= f.select :parent_id, nested_set_options(current_user.groups) {|i| "#{'-' * i.level} #{i.name}" }, :include_blank => 'Root' %>
      <%= error_message_on group, :parent_id, :prepend_text => '* Parent ' %>
    </div>
    
  </div>

  <div class="buttons">
    <%= link_to 'Cancel', groups_path %>
    <%= submit_tag 'Save', :class => 'button' %> 
  </div>

  <div class="clear"></div>
<% end %>
