<div class="group">
  <div class="summary">
    <div class="info">
      <%= group.devices.count -%> vehicles in this group
    </div>

    <h1><%= group.name -%></h1>

    <div class="actions">
      <%= link_to 'Live Look', live_look_group_path(group), :class => 'liveLook', :title => 'Live Look' %>
      <%= link_to 'Edit', edit_group_path(group), :class => 'edit', :title => 'Edit' %>
      <%= link_to 'Delete', group_path(group), :class => 'delete', :title => 'Remove' %>
    </div>

    <div class="view">
      <%= link_to "Group Details", group_path(group), :class => 'viewDetails simple' -%>
      <div class="loading"></div> 
    </div>
  </div>

  <div class="details">
  </div>
</div>
