<%= paginate groups %>

<table class="data" style="width:100%">
  <thead>
    <tr>
      <th class="checkbox"><%= check_box_tag :select_all, true, false %></th>
      <th>Name</th>
      <th>Vehicle Count</th>
      <th> </th>
    </tr>
  </thead>
  <% groups.each do |group| -%>
    <tr class="<%=cycle('','odd')%>">
      <td class="checkbox"><%= check_box_tag :apply_to, group.id, false, :id => "apply_to_#{group.id}" %></td>
      <td><%= h(group.name) %></td>
      <td><%= group.devices.count %></td>
      <td class="buttons">
        <%= link_to 'Live Look', live_look_group_path(group), :class => 'liveLook', :title => 'Live Look' %>
        <%= link_to 'Edit', edit_group_path(group), :class => 'edit', :title => 'Edit' %>
        <%= link_to 'Delete', group_path(group), :class => 'delete', :title => 'Remove' %>
      </td>
    </tr>
  <% end -%>
</table>

<%= paginate groups %>
