<% content_for :javascript do -%>
  <%= javascript_include_tag 'list_view' -%>
  <%= javascript_include_tag 'groups/index' -%>
  <%= javascript_include_tag 'reports/form' -%>
<% end -%>

<% filter %>

<%= messages %>
<div class="groups">
  <div style="float:right">
    <%= button_tag 'Run Report', :class => 'runReport' %>
  </div>

  <div class="buttonsLeft">
    <%= button_to 'Add Group', new_group_path, :method => :get %>
  </div>
  
  <div id="runReportForm" class="massApplyForm reportSettings">
    <%= render :partial => 'reports/group_form', :locals => {:report => Report.new(current_user)} %>
  </div>
  
  <div class="clear spacer"></div>

  <div class="groupList">
    <% group_tree(current_user.groups.of_devices) do |group, level| %>
      <span class="edit"><%= link_to 'Edit', edit_group_path(group), :title => 'Edit Group' %></span>
      <span class="handle" title="Move Group"></span>
      <span class="checkbox"></span>
      <span class="collapsible closed"></span>
      <span class="name"><%= group.name %></span>
      <!--<span><%= link_to 'Edit', edit_group_path(group), :class => 'edit' %></span>-->
    <% end %>
  </div>
  
  <br/><br/>
  
  <div id="groupsWrapper">
    <%= render :partial => "group", :collection => @groups -%>
  </div>

</div>

<div id="removeGroup" class="dialog" title="Remove group?">
  <% form_tag groups_path, :method => :delete do -%>
  <% end -%>
  <p>This will permanently remove the group from the system. Are you sure?</p>
</div>

<div id="moveGroup" class="dialog" title="Move group?">
  <% form_tag groups_path, :method => :put do -%>
    <%= hidden_field_tag 'group[parent_id]', '', :class => 'parent_id' %>
  <% end -%>
  <p>This will move the group "<span class="from"></span>" under "<span class="to"></span>". Are you sure?</p>
</div>

<div id="editGroup" class="dialog" title="Edit group">
</div>
