<% content_for :javascript do -%>
  <%= javascript_include_tag 'reports/form' -%>
<% end -%>

<%= messages %>
<div class="groups">
  <div style="float:right">
    <%= button_tag 'Run Report', :class => 'runReport' %>
  </div>

  <div class="buttonsLeft">
    <%= button_to 'Add Group', new_group_path, :method => :get %>
  </div>
  
  <div id="runReportForm" class="massApplyForm reportSettings">
    <%= render :partial => 'reports/group_form', :locals => {:report => Report.new(current_user)} %>
  </div>
  
  <div class="clear spacer"></div>

  <div id="groupsList">
    <%= render :partial => "list", :locals => {:groups => @groups} -%>
  </div>

</div>

<div id="removeGroup" class="dialog">
  <% form_tag groups_path, :method => :delete do -%>
  <% end -%>
  <p>Are you sure you want to remove this group from the system?</p>
</div>
