<% form_for user, :html => {:autocomplete => "off"} do |f| -%>
  <h3>User Details</h3>
  <fieldset>
    <div class="field">
      <%= f.label :login, 'Username', :class => 'required' %>
      <%= f.text_field :login, {:size => 30, :maxlength => 30} %>
      <%= error_message_on user, :login, :prepend_text => '* Username ' %>
    </div>
    <div class="field">
      <%= f.label :name, 'Name', :class => 'required' %>
      <%= f.text_field :name, {:size => 30, :maxlength => 30} %>
      <%= error_message_on user, :name, :prepend_text => '* Name ' %>
    </div>
    <div class="field">
      <%= f.label :email, 'Email address', :class => 'required' %>
      <%= f.text_field :email %>
      <%= error_message_on user, :email, :prepend_text => '* Email address ' %>
    </div>
    <div class="field">
      <%= f.label :time_zone %>
      <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones.reverse, :name, :to_s %>
      <%= error_message_on user, :time_zone, :prepend_text => '* Time zone ' %>
    </div>
  </fieldset>
  
  <h3>Vehicle Group</h3>
  <fieldset>
    <p>Choose a vehicle group below to restrict this user's access to that group and its subgroups.</p>
    <div class="field">
      <%= f.label :device_group_id, 'Group' %>
      <%= f.collection_select :device_group_id, current_account.groups, :id, :name, :include_blank => 'None' %>
      <%= error_message_on user, :device_group_id, :prepend_text => '* Vehicle group ' %>
    </div>
  </fieldset>
    
  <h3>User Roles</h3>
  <fieldset>
    <p>Check the boxes below to assign additional roles to this user.</p>
    <ul>
      <% role_options.each do |role| -%>
        <li>
          <%= check_box_tag "user[roles][]", role, user.has_role?(role),
            {:id => dom_id(user, role)} %>
          <%= label_tag dom_id(user, role), role_descriptions[role] %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
  
  <div class="clear"></div>
  
  <div class="buttons">
    <%= link_to 'Cancel', users_path %>
    <%= submit_tag 'Save', :class => 'button' %>
  </div>
<% end -%>
