<% form_for user, :index => user.id, :html => {:autocomplete => "off"} do |f| -%>
  <div class="field">
    <%= f.label :login, 'Username *' %>
    <%= f.text_field :login, {:size => 30, :maxlength => 30} %>
    <%= error_message_on user, :login, :prepend_text => '* Username ' %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, {:size => 30, :maxlength => 30} %>
    <%= error_message_on user, :name, :prepend_text => '* Name ' %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email address *' %>
    <%= f.text_field :email %>
    <%= error_message_on user, :email, :prepend_text => '* Email address ' %>
  </div>
  <div class="field">
    <%= f.label :time_zone %>
    <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones.reverse, :name, :to_s %>
    <%= error_message_on user, :time_zone, :prepend_text => '* Time zone ' %>
  </div>
  <h3>User Roles</h3>
  <ul>
    <% role_options.each do |role| -%>
      <li>
        <%= check_box_tag "user[#{user.id}][roles][]", role, user.has_role?(role),
          {:id => dom_id(user, role)} %>
        <%= label_tag dom_id(user, role), role_descriptions[role] %>
      </li>
    <% end -%>
  </ul>
  <p class="reminder">* Asterisks indicate required fields.</p>
  <div class="clear"></div>
  <div class="buttons">
    <%= link_to 'Cancel', users_path, :class => 'simple' %>
    <%= submit_tag 'Save', :class => 'button' %>
  </div>
<% end -%>
