  <% form_tag post_url do -%>
    <div class="field">
      <label for="password" class="required">Password</label>
      <%= password_field_tag 'password' %>
      <%= error_message_on @user, :password, :prepend_text => '* Password ' %>
    </div>
    <div class="field">
      <label for="password_confirmation" class="required">Confirm Password</label>
      <%= password_field_tag 'password_confirmation' %>
      <%= error_message_on @user, :password_confirmation, :prepend_text => '* Password confirmation ' %>
    </div>
    <div class="field">
      <label></label>
      <%= submit_tag 'Submit' %>
    </div>
  <% end -%>
  <div class="clear"></div>
