<div class="frame corners">
  <%= messages %>
  <div class="content">
    <h2>Reset Password</h2>
    <p>Enter your new password below.</p>
    <br/>
    <% form_tag reset_password_path(params[:id]) do -%>
      <div class="field">
        <label for="password">Password</label>
        <%= text_field_tag 'password' %>
        <%= error_message_on @user, :password, :prepend_text => '* Password ' %>
      </div>
      <div class="field">
        <label for="password_confirmation">Confirm Password</label>
        <%= text_field_tag 'password_confirmation' %>
        <%= error_message_on @user, :password_confirmation, :prepend_text => '* Password confirmation ' %>
      </div>
      <div class="field">
        <label></label>
        <%= submit_tag 'Submit' %>
      </div>
    <% end -%>
    <div class="clear"></div>
  </div>
</div>
