<%= messages %>

<div class="buttonsLeft">
  <%= button_tag 'Add Profile', :class => 'addProfile', :onclick => "location.href = '#{new_device_profile_path}';" %>
</div>
<div class="clear spacer"></div>
  
<table class="data" style="width:100%">
  <thead>
    <tr>
      <th class="checkbox"><%= check_box_tag :profiles_all, true, false %></th>
      <th>Name</th>
      <th> </th>
    </tr>
  </thead>
  <% @device_profiles.each do |profile| -%>
    <tr class="<%=cycle('','odd')%>">
      <td class="checkbox"><%= check_box_tag :profiles, profile.id, false, :id => dom_id(profile) %></td>
      <td><%= h(profile.name) %></td>
      <td class="buttons">
        <%= link_to 'Edit', edit_device_profile_path(profile), :class => 'edit', :title => 'Edit' %>
        <%= link_to 'Delete', device_profile_path(profile), :class => 'delete', :title => 'Remove' %>
      </td>
    </tr>
  <% end -%>
</table>

<div id="removeProfile" class="dialog">
  <% form_tag device_profiles_path, :method => :delete do -%>
  <% end -%>
  <p>If you remove this vehicle profile, it will be deleted permanently and any linked vehicles will be unlinked.</p>
  <p>Are you sure you want to remove this profile?</p>
</div>
