<div>
  <table class="data">
    <tr>
      <th><%= link_to 'IMEI Number (Tracker ID)', admin_trackers_path(:order => 'imei_number') %></th>
      <th><%= link_to 'SIM Number', admin_trackers_path(:order => 'sim_number') %></th>
      <th><%= link_to 'Status', admin_trackers_path(:order => 'status') %></th>
      <th><%= link_to 'Linked Device ID', admin_trackers_path(:order => 'device_id') %></th>
      <th style="background-color:#EFEFEF"></th>
    </tr>
    <% @trackers.each do |tracker| -%>
      <tr class="<%= cycle('','odd') %>">
        <td><%= link_to h(tracker.imei_number), edit_admin_tracker_path(tracker), :class => 'simple' %></td>
        <td><%= tracker.sim_number %></td>
        <td><%= tracker.status_text %></td>
        <td><%= tracker.device_id ? tracker.device_id : '' %></td>
        <td>
          <% if !tracker.device_id -%>
            <% form_for :tracker, tracker, :url => admin_tracker_path(tracker), :html => {:method => :delete} do |f| -%>
              <%= f.submit 'Delete' %>
            <% end -%>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </table>
  <br/>
  <div>
    <%= link_to 'Add Tracker', new_admin_tracker_path, :class => 'simple' %>
  </div>
</div>