<table>
  <tr>
    <td><%= label_tag 'imei_number', 'IMEI:' %></td>
    <td><%= text_field_tag "imei_number" %></td>
  </tr>
  <tr>
    <td><%= label_tag 'account_id', 'Account id:' %></td>
    <td><%= text_field_tag "account_id" %></td>
  </tr>
  <tr>
    <td><%= label_tag 'account_name', 'Account name:' %></td>
    <td><%= text_field_tag "account_name" %></td>
  </tr>
</table>
