<div class="tracker">
  <%= render :partial => 'form', :locals => {:tracker => @tracker, :method => 'put'} %>
  <br/>
  <hr/>
  <h2>Web Services</h2>
  <div>
    <% form_tag(get_info_tracker_path(@tracker)) do -%>
      <%= submit_tag  'Get SIM Info from Jasper' %>
    <% end -%>
    <% if @jasper -%>
      <% if @jasper.error -%>
        <p><b>Error: <%= @jasper.error %></b></p>
      <% else -%>
        <% @jasper.response.each do |k, v| -%>
          <p><%=k%>: <%=v%></p>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
  <br/>
  <hr/>
  <h2>Device Configuration</h2>
  <div>
    <p>Type a command (usually starting with +XT:) and click Configure. Will timeout after 30 seconds.</p>
    <% form_tag(configure_tracker_path(@tracker)) do -%>
      Command: <%= text_field_tag :command, '' %>
      <%= submit_tag 'Configure' %>
    <% end -%>
    <% if @response -%>
      Response: <%= @response %>
    <% end -%>
  </div>
  <br/><br/>
  <%= link_to 'Back to list', trackers_path %>
</div>