
<% filter %>

<div>
  <table class="data">
    <tr>
      <th><%= link_to 'IMEI Number (Tracker ID)', trackers_path(:order => 'imei_number') %></th>
      <th><%= link_to 'SIM Number', trackers_path(:order => 'sim_number') %></th>
      <th><%= link_to 'Status', trackers_path(:order => 'status') %></th>
      <th><%= link_to 'Linked Device ID', trackers_path(:order => 'device_id') %></th>
      <th><%= link_to 'Account', trackers_path(:order => 'account_id') %></th>
      <th style="background-color:#EFEFEF"></th>
    </tr>
    <% @trackers.each do |tracker| -%>
      <tr class="<%= cycle('','odd') %>">
        <td><%= link_to h(tracker.imei_number), edit_tracker_path(tracker) %></td>
        <td><%= tracker.sim_number %></td>
        <td><%= tracker.status_text %></td>
        <td><%= tracker.device ? tracker.device.id : '' %></td>
        <td><%= tracker.account_id ? tracker.account.name + ' (' + tracker.account_id.to_s + ')' : '' %></td>
        <td>
          <% if !tracker.device -%>
            <% form_for :tracker, tracker, :url => tracker_path(tracker), :html => {:method => :delete} do |f| -%>
              <%= f.submit 'Delete' %>
            <% end -%>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </table>
  <br/>
  <div>
    <%= link_to 'Add Tracker', new_tracker_path %>
  </div>
</div>