<% if node.is_a?(Device) -%>
  <div class="row device clear" id="<%= dom_id(node) %>">
    <div class="listing">
      <span class="tab"></span>
      <span class="indent"></span>
      <%= link_to 'Delete', device_path(node), :class => 'delete hover-only', :title => 'Remove Vehicle' %>
      <%= link_to 'Edit', edit_device_path(node), :class => 'edit hover-only', :title => 'Edit Vehicle' %>
      <span class="handle hover-only"></span>
      <span class="name"><%= node.name %></span>
    </div>
    <div class="data">
      <% report = group_report(node) -%>
      <span class="data"><%= report[:report_card][:first_start] %></span>
      <span class="data"><%= report[:report_card][:last_stop] %></span>
      <span class="data"><%= report[:duration] %></span>
      <span class="data"><%= report[:miles] %></span>
      <span class="data"><%= report[:mpg] %></span>
      <span class="data"><%= report[:speed_events] %></span>
      <span class="data"><%= report[:geofence_events] %></span>
      <span class="data"><%= report[:idle_events] %></span>
      <span class="data"><%= report[:aggressive_events] %></span>
      <span class="after_hours"><%= report[:after_hours_events] %></span>
    </div>
  </div>
<% else -%>
  <div class="row group clear" id="<%= dom_id(node) %>">
    <div class="listing">
      <span class="tab"></span>
      <span class="indent"></span>
      <span class="collapsible open"></span>
      <% if level > 0 -%>
        <%= link_to 'Delete', device_group_path(node), :class => 'delete hover-only', :title => 'Remove Group' %>
        <%= link_to 'Edit', edit_device_group_path(node), :class => 'edit hover-only', :title => 'Edit Group' %>
        <span class="handle hover-only"></span>
        <!-- <%= link_to 'Live Look', live_look_device_group_path(node), :class => 'liveLook hover-only', :title => 'Live Look' %> -->
        <!-- <%= link_to 'Geofences',  device_group_geofences_path(node), :class => 'geofence hover-only', :title => 'Geofences' %> -->
      <% end -%>
      <span class="name"><%= node.name %></span>
    </div>
    
    <% if level > 0 -%>
      <% report = group_report(node) -%>
      
      <div class="data">
        <span class="data"><%= report[:report_card][:first_start] %></span>
        <span class="data"><%= report[:report_card][:last_stop] %></span>
        <span class="data"><%= report[:duration] %></span>
        <span class="data"><%= report[:miles] %></span>
        <span class="data"><%= report[:mpg] %></span>
        <span class="data"><%= report[:speed_events] %></span>
        <span class="data"><%= report[:geofence_events] %></span>
        <span class="data"><%= report[:idle_events] %></span>
        <span class="data"><%= report[:aggressive_events] %></span>
        <span class="after_hours"><%= report[:after_hours_events] %></span>
      </div>
    <% end -%>
  </div>
<% end -%>
