<% content_for :javascript do -%>
  <%= javascript_include_tag 'report_card' -%>
  <%= javascript_include_tag 'groups/edit' -%>
<% end -%>

<% form_tag report_card_path, :method => :get do -%>
  Viewing Report Card for: 
  <%= select_tag :range_type, options_for_select(range_options_report_card, @range_type) %>
  <%= submit_tag "Update" -%>
<% end -%>

<%= link_to 'Create Group', new_device_group_path, :class => 'newGroup' %>

<div id="report_card_header">
  <div class="row scrollbar-fix">
    <div class="listing">
      <span class="name">Name</span>
    </div>
    <div class="data">
      <span class="data">Start</span>
      <span class="data">End</span>
      <span class="data">Time</span>
      <span class="data">Miles</span>
      <span class="data">MPG</span>
      <span class="data">Speed</span>
      <span class="data">Geofence</span>
      <span class="data">Idle</span>
      <span class="data">Aggressive</span>
      <span class="after_hours">After</span>
    </div>
    <div class="title">
      <span></span>
    </div>
  </div>
</div>
<div id="frame">
  <div id="tab"></div>
  <div id="data_pane">
    <% new_tree(@root) do |node, level| -%>
      <%= render :partial => 'report_card_row', :locals => {:node => node, :level => level} %>
    <% end -%>
  </div>
  <div id="edit_pane">
    <div class="loading"></div>
    <div class="edit">
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    <p>lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat
    lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat lorem ipsum reliquat</p>
    </div>
  </div>
</div>

<div id="moveGroup" class="dialog" title="Move group?">
  <% form_tag device_groups_path, :method => :put do -%>
    <%= hidden_field_tag 'device_group[parent_id]', '', :class => 'new_parent_id' %>
  <% end -%>
  <p>This will move the group "<span class="from"></span>" under "<span class="to"></span>". Are you sure?</p>
</div>

<div id="removeGroup" class="dialog" title="Remove group?">
  <% form_tag device_groups_path, :method => :delete do -%>
  <% end -%>
  <p>This will permanently remove the group from the system. Are you sure?</p>
</div>
