<% content_for :javascript do -%>
  <%= javascript_include_tag "report_card" -%>
<% end -%>

<div id="report_card">
  <table>
    <thead>
      <tr>
        <th rowspan="2" colspan="2" width="30%" class="empty">
          <% form_tag report_card_path, :method => :get do -%>
            Viewing Report Card for: 
            <%= select_tag :range_type, options_for_select(range_options_report_card, @range_type) %>
            <%= submit_tag "Update" -%>
          <% end -%>
          <div>Showing data for: <%= @report_card[0].title -%></div>
        </th>
        <th rowspan="2">First Start Time</th>
        <th rowspan="2">Last End Time</th>
        <th rowspan="2">Operating Time<br/>(hh:mm)</th>
        <th rowspan="2">Miles Driven</th>
        <th rowspan="2">MPG (avg)</th>
        <th colspan="5">Driver Behavior Events</th>
      </tr>
      <tr>
        <th>Speed</th>
        <th>Geofence</th>
        <th>Idle</th>
        <th>Aggressive</th>
        <th>After Hours</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "list", :locals => {:report_card => @report_card} -%>
    </tbody>
  </table>
</div>
