<div id="filter">
  <%= text_field_tag "filter" %> <%= button_tag "Filter" %> <%= button_tag "Clear" %>

  <div id="filterDetails">
    <p>Name: <%= text_field_tag "name" %></p>
    <p>Tracker ID: <%= text_field_tag "name" %></p>
    <p>VIN: <%= text_field_tag "name" %></p>
    <p>Tag: <%= text_field_tag "name" %></p>
  </div>
</div>
<div class="noRight"></div>
