<div id="filter">
  <% form_tag filter_path do -%>
    <%= text_field_tag "query", filter_query %>
    <%= submit_tag "Filter" %>
    <%= button_tag "Clear", :id => 'filter_clear' %>
  <% end -%>

  <div id="filterDetails">
    <p>
      <%= label_tag 'name', "Name:" %>
      <%= text_field_tag "name" %>
    </p>
    <!--
    <p>
      <%= label_tag 'tracker_id', 'Tracker ID:' %>
      <%= text_field_tag "tracker_id" %>
    </p>
    -->
    <p>
      <%= label_tag 'vin', 'VIN:' %>
      <%= text_field_tag "vin" %>
    </p>
    <!--
    <p>
      <%= label_tag 'tag', 'Tag' %>
      <%= text_field_tag "tag" %>
    </p>
    -->
    <p class="buttons">
    <%= button_tag "Filter" %> or <%= link_to 'Cancel', '#' %>
    </p>
  </div>
</div>
<div class="noRight"></div>
