<% datetime = current_user.zone.now -%>
<div id="dateTimeInternal"><%= (datetime.to_i + datetime.utc_offset) * 1000 %></div>
<div id="header">
  <div id="logo">
    <%= link_to image_tag("logo.png"), root_path -%>
  </div>

  <ul class="sf-menu">
    <li>
      <%= link_to 'Profile', profile_path %>
    </li>
    <li>
      <%= link_to 'Help', '#' %>
      <ul>
        <li><%= link_to 'Contact Us', contact_path %></li>
      </ul>
    </li>
    <li class="logout">
      <%= link_to 'Logout', logout_path %>
    </li>
  </ul>
  
  <span class="info"><strong><%= h(current_account.name) %></strong> &middot; <%= h(current_user.name) %></span>
</div>
