<div class="reportResult">
  <h2><%= report.title %></h2>
  
  <table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Vehicle</th>
      <th>Event</th>
    </tr>
    <% report.data.each do |row| -%>
      <tr>
        <td><%= row[:date] %></td>
        <td><%= row[:time] %></td>
        <td><%= row[:device] %></td>
        <td><%= row[:text] %></td>
      </tr>
    <% end -%>
  </table>
</div>