<table>
  <thead>
    <tr>
      <th rowspan="2">Vehicle</th>
      <th rowspan="2">Miles Driven</th>
      <th rowspan="2">Avg Fuel Economy</th>
      <th rowspan="2">Operating Time<br/>(hh:mm)</th>
      <th rowspan="2">Idle Time<br/>(hh:mm)</th>
      <th colspan="5">Events</th>
    </tr>
    <tr>
      <th>Speed</th>
      <th>Geofence</th>
      <th>Idle</th>
      <th>Aggressive</th>
      <th>After Hours</th>
    </tr>
  </thead>
  <tbody>
  <% report.data.each do |row| -%>
    <tr>
      <td><%= h(row[:name]) %></td>
      <td><%= row[:miles] %></td>
      <td><%= row[:mpg] %></td>
      <td><%= row[:duration] %></td>
      <td><%= row[:idle_time] %></td>
      <td><%= row[:speed] %></td>
      <td><%= row[:geofence] %></td>
      <td><%= row[:idle_time] %></td>
      <td><%= row[:aggressive] %></td>
      <td><%= row[:after_hours] %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
