<%= messages %>

<div class="reportSettings">
  <div class="reportForm">
    <h2>Report Settings</h2>
    
    <% form_for :report, :html => { :target => '_blank', :class => 'multiSubmit' } do |f| -%>
      <div class="col">
        <div class="field">
          <%= f.label :type %>
          <%= f.select :type, report_type_options %>
        </div>
        
        <% f.fields_for :range, @report.range do |f_r| -%>
          <div class="field">
            <%= f_r.label :type, 'Date Range' %>
            <%= f_r.select :type, report_range_options %>
          </div>
          
          <div id="date_select" class="field" style="display:none">
            <%= label_tag '' %>
            <%= f_r.text_field :start, :size => 10, :maxlength => 10 %>
            &nbsp; through &nbsp;
            <%= f_r.text_field :end, :size => 10, :maxlength => 10 %>
          </div>
        <% end -%>

        <div id="device_select" class="field">
          <%= label :devices, 'Vehicles' %>

          <div style="max-height: 150px; overflow:auto">
            <div class="field">
              <%= check_box_tag "select_all", nil, @report.devices.size == @devices.size %>
              <%= label_tag "select_all", "Select All", :class => 'checkbox' %>
            </div>

            <% @devices.each do |device| -%>
              <div class="field">
                <%= check_box_tag "devices[#{device.id}]", '1', @report.devices.include?(device) %>
                <%= label_tag "devices[#{device.id}]", device.name, :class => 'checkbox' %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
      
      <div class="clear"></div>
      <div class="buttons">
        <%= submit_tag 'Run Report' %>
      </div>
      <div class="clear"></div>
    <% end -%>
  </div>
</div>
