<%= messages %>

<div class="reportSettings">
  <div class="reportForm">
    <h2>Report Settings</h2>

    <% form_for :report, :html => { :target => '_blank', :class => 'multiSubmit' } do |f| -%>
      <div class="col">
        <div class="field">
          <%= f.label :type %>
          <%= f.select :type, report_type_options %>
        </div>

        <% f.fields_for :range, @report.range do |f_r| -%>
          <div class="field">
            <%= f_r.label :type, 'Date Range' %>
            <%= f_r.select :type, report_range_options %>
          </div>

          <div id="date_select" class="field" style="display:none">
            <%= label_tag '' %>
            <%= f_r.text_field :start, :size => 10, :maxlength => 10 %>
            &nbsp; through &nbsp;
            <%= f_r.text_field :end, :size => 10, :maxlength => 10 %>
          </div>
        <% end -%>

        <div id="device_select" class="field">
          <%= label :devices, 'Vehicles' %>

          <div style="max-height: 150px; overflow:auto">
            <div class="field">
              <%= check_box_tag "select_all", nil, @report.devices.size == @devices.size %>
              <%= label_tag "select_all", "Select All", :class => 'checkbox' %>
            </div>

            <% @devices.each do |device| -%>
              <div class="field">
                <%= check_box_tag "devices[#{device.id}]", '1', @report.devices.include?(device) %>
                <%= label_tag "devices[#{device.id}]", device.name, :class => 'checkbox' %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="report_description" id="report_0_description">
          The Vehicle Summary Report shows aggregated data for one or many vehicles
          over the selected time frame. Report data includes: Vehicle Name, Miles Driven,
          Average Fuel Economy, Operating Time, Idle Time, and number of Events for Speed,
          GeoFence, Idle Time, Aggressive Driving, and After Hours.
          <br/><br/>
          To create a report, select a Date Range, select the desired Vehicles and then click
          "Run Report".
        </div>

        <div class="report_description" id="report_1_description" style="display:none">
          The Daily Detail Report shows daily summary data for one vehicle over the selected time
          frame. Report data includes: Vehicle Name, Miles Driven, Average Fuel Economy, Operating
          Time, Idle Time, and number of Events for Speed, GeoFence, Idle Time, Aggressive Driving,
          and After Hours.
          <br/><br/>
          To create a report, select a Date Range, select ONE Vehicle and then click "Run Report".
          </p>
        </div>

        <div class="report_description" id="report_2_description" style="display:none">
          The Fuel Economy Correlation Graph shows average fuel economy data correlated with the
          selected driver behavior variable over the selected time frame. The Graph data shows
          the vehicle fuel economy data as a line on the graph and correlation variable as bars.
          <br/><br/>
          To create a graph, select a Date Range, select a Vehicle and then click "Run Report".
        </div>

        <div class="report_description" id="report_3_description" style="display:none">
          Trip detail be pop'n off with info 'bout all your trips for the given period. Check it!
          <br/><br/>
          To create a report, select a Date Range, select ONE Vehicle and then click "Run Report".
          </p>
        </div>
        <div class="report_description" id="report_4_description" style="display:none">
          The Fuel Economy Summary Graph shows average fuel economy data for comparison of multiple
          vehicles over the selected time frame. The Graph data shows each individual vehicle as
          a line on the graph.
          <br/><br/>
          To create a graph, select a Date Range, select the desired Vehicles and then click
          "Run Report".
        </div>
      </div>

      <div class="clear"></div>
      <div class="buttons">
        <%= submit_tag 'Run Report' %>
      </div>
      <div class="clear"></div>
    <% end -%>
  </div>
</div>
