<% inside_layout 'global' do -%>
  <%= render :partial => 'common/header' %>
  
  
  <!--<div id="navbar">-->
  <%= tabnav :header %>
  <div id="filter_container">
    <%= yield :navbar %>
  </div>
  <%= tabnav :vehicles %>
  <!--</div>-->
  
  <div id="content">
    <div class="content">
      <%= yield %>
      
    </div>
  </div>
  
  <%= render :partial => 'common/footer' %>
<% end -%>
