<% inside_layout 'global' do -%>
  <%= render :partial => 'common/header' %>
  
  <%= tabnav :header %>
  
  <%= yield :navbar %>
  
  <%= tabnav :vehicles %>
  <%= tabnav :map_features %>
  <%= tabnav :users %>
  
  <div id="content">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  
  <%= render :partial => 'common/footer' %>
<% end -%>
