<% inside_layout 'global' do -%>
  <%= render :partial => 'common/header' %>
  
  <div id="navbar">
    <ul class="clearfix">
      <li <%= active?('report_card') %>>
        <%= link_to 'Dashboard', dashboard_path, :class => 'dashboard' %>
      </li>
      <li>
        <%= link_to 'Map View', map_path, :class => 'mapview' %>
      </li>
      <li>
        <%= link_to 'Reports', reports_path, :class => 'reports' %>
      </li>
      <li>
        <%= link_to 'Landmarks', landmarks_path, :class => 'landmarks' %>
      </li>
      <% if false -%>
      <li>
        <%= link_to 'Geofences', geofences_path, :class => 'geofences' %>
      </li>
      <li>
        <%= link_to 'Users', users_path, :class => 'users' %>
      </li>
      <% end -%>
    </ul>
  </div>
  
  <div id="content">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  
  <%= render :partial => 'common/footer' %>
<% end -%>
