<% content_for(:javascript) do -%>
  <%= mapquest_include_tags %>
  <%= javascript_include_tag 'mapquest/moshi.viewcontrol' %>
  <%= javascript_include_tag 'mapquest/moshi.zoomcontrol' %>
  <%= javascript_include_tag "maps/view" -%>
  <%= javascript_include_tag 'moshimap' %>
<% end %>

<% inside_layout 'global' do -%>
  <%= render :partial => 'common/header' %>
  
  <%= tabnav :header %>
  
  <%= yield :navbar %>
  
  <%= tabnav :vehicles %>
  <%= tabnav :map_features %>
  <%= tabnav :users %>
  
  <div id="mapContainer">
    <% if @with_sidebar -%>
      <div id="sidebarContainer">
        <div id="sidebar">
          <div id="sidebarContent">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else -%>
      <%= yield -%>
    <% end -%>

    <div id="map">
      <div style="text-align:center;font-style:italic;padding-top:50px">
        Please wait, loading...
      </div>
    </div>
  </div>
  
  <% # No Footer %>
<% end -%>
