<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Phone Finder</title>
    <%= stylesheet_link_tag 'phone_finder', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'jScrollPane.css' %>
    <%= yield :stylesheet %>
    <!--[if IE]>
    <%= stylesheet_link_tag 'iehacks' %>
    <![endif]-->
    <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ie6hacks' %>
    <![endif]-->
    <%= javascript_include_tag 'jquery' -%>
    <%= javascript_include_tag 'jquery.form' -%>
    <%= javascript_include_tag 'jquery.ui' -%>
    <%= javascript_include_tag 'jquery.hint' -%>
    <%= javascript_include_tag 'jquery.impromptu' -%>
    <%= javascript_include_tag 'jquery.mousewheel' -%>
    <%= javascript_include_tag 'jquery.scrollpane' -%>
    <%= javascript_include_tag 'schlage/phone_finder' -%>
    <%= yield :javascript %>
    <script type="text/javascript">
      if (window.opener==null) {
        location.href = "<%= popup_phone_finder_path %>";
      } else {
        jQuery(function() {
          PhoneFinder.init();
        });
      }
    </script>
  </head>
  <% content_tag :body, :id => "phone_finder" do%>
    <div id="wrapper">
      <div id="header">
        <h1>Schlage</h1>
      </div>
      <div id="layout">
        <div class="col">
          <%= yield :layout %>
        </div>
      </div>
      <div id="moshi-footer"></div>
    </div>
  <% end -%>
</html>
