<% content_for 'javascript' do -%>
  <%= javascript_include_tag 'settings' %>
<% end -%>
<% inside_layout 'global' do -%>
  <%= render :partial => 'common/header' %>
  <div id="navbar">
    <%= render :partial => 'common/filter' %>
    <%= render :partial => 'common/livelook' %>
  </div>
  <%= yield :side %>
  <div id="settingsContainer">
    <div id="settings">
      <div id="settingsContent">
        <%= yield %>
      </div>
    </div>
  </div>
<% end -%>
