<%= paginate accounts %>

<table class="data" style="width:100%">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Monthly Unit Price</th>
      <% if account.can_assign_reseller? -%>
        <th>Reseller?</th>
        <th>Can Create Resellers?</th>
      <% end -%>
      <th></th>
    <tr>
  </thead>
  <% accounts.each do |a| -%>
    <tr class="<%=cycle('','odd')%>">
      <td><%= h a.number %></td>
      <td><%= h a.name %></td>
      <td><%= h a.phone_number %></td>
      <td><%= h a.monthly_unit_price %></td>
      <% if account.can_assign_reseller? -%>
        <td><%= check_image a.reseller? %></td>
        <td><%= check_image a.can_assign_reseller? %></td>
      <% end -%>
      <% if account.reseller? -%>
        <td class="buttons">
          <% requires_role(User::Role::ADMIN) do -%>
            <%= link_to 'Edit', edit_account_path(a), :class => 'edit', :title => 'Edit' %>
            <!-- <%= link_to 'Delete', account_path(a), :class => 'delete', :title => 'Remove' %> -->
          <% end -%>
        </td>
      <% end -%>
    </tr>  
  <% end -%>
</table>

<%= paginate accounts %>
