<div class="subscription">

  <div class="buttons">
    <%= link_to "", edit_plan_subscription_path, :class => "button editSettings" %>
  </div>

  <h2>Subscription Information</h2>

  <div class="left">
    <p>Current Subscription Plan</p>

    <div class="payplan">
      <%= pay_plan_info subscription.pay_plan %>
    </div>

    <% if subscription.next_pay_plan_id %>
      <strong>On <%= subscription.next_bill_date.to_s(:local) %> Will Change to:</strong>

      <div class="payplan">
        <%= pay_plan_info subscription.next_pay_plan %>
      </div>
    <% end %>

    <p>Next Bill Date: <strong><%= subscription.next_bill_date.to_s(:local) %></strong></p>

    <% if subscription.payments.any? %>
      <div id="oldPayments">
        View payment from <%= select_payment subscription.payments %>. <%= image_tag "spinner.gif", :class => 'busy' %>
      </div>
    <% end %>

  </div>

  <div class="right">
    <p>Current Subscription Charge Breakdown</p>

    <%= render :partial => "subscription/receipt", :locals => {:element => subscription} %>

    <% if Rails.env != "production" -%><div style="margin-top: 1em;"><%= link_to "Billing Tester", billing_tester_path -%></div><% end -%>
  </div>
</div>

<div class="spacer break clear"></div>

<div class="buttons">
  <%= link_to "", edit_subscription_path, :class => "button editSettings" %>
</div>

<h2>Billing Information</h2>

<div class="subscription">
  <%= render :partial => "subscription/cc_info", :locals => {:subscription => subscription} %>
</div>

<div class="spacer break"></div>

