<% content_for(:side) do -%>
  <div class="floater">
    <%= image_tag '/images/product/girl_driving_up.jpg', :width => 260, :height => 183 %>
    <%= image_tag '/images/product/girl_driving_down.jpg', :width => 260, :height => 183 %>
  </div>
<% end -%>

<div>
  <%= messages %>

  <%= subscription_messages(@subscription) if @subscription %>

  <% if @subscription && @subscription.cancelled? %>
    <%= render :partial => "subscription/need_payment" %>
  <% end %>

  <% form_for :account, :url => account_path, :html => {:method => :put} do |f| -%>
    <!--<h2>Account Settings</h2>
    
    <div class="spacer"></div>-->
    
    <h2>Security Settings</h2>
    
    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
      <%= error_message_on @account, :current_password, :prepend_text => '* Current password ' %>
    </div>
    
    <div class="field" style="font-style:italic">
      <label></label>
      (In order to change Security Settings, you must enter your current password.)
    </div>    
    
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= error_message_on @account, :email, :prepend_text => '* Email address ' %>
    </div>
    
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= error_message_on @account, :password, :prepend_text => '* Password ' %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= error_message_on @account, :password_confirmation, :prepend_text => '* Password confirmation ' %>
    </div>
    
    <div class="buttons">
      <%= submit_tag 'Save' %>
    </div>
    <div class="spacer clear"></div>
  <% end -%>

  <div class="spacer break"></div>

  <% if @subscription %>
    <% if @subscription.needs_setup? %>
      <%= render :partial => "setup_subscription", :locals => {:subscription => @subscription} %>
    <% else %>
      <%= render :partial => "subscription", :locals => {:subscription => @subscription} %>
    <% end %>
  <% end %>
  
  <h2>Cancel Account</h2>
  <p>If you need to cancel your account, click the link below. You will be asked for confirmation.</p>
  <div style="margin:8px 0 0 8px">
    <%= link_to 'Cancel Account', '#', :class => 'cancelAccount' %>
  </div>
</div>
<div class="clear"></div>

<div id="cancelDialog" class="dialog">
  <% form_tag account_path, {:method => :delete, :autocomplete => 'off'} do -%>
    <p>If you cancel your account, your account information will be deleted and
    the vehicle history of all vehicles on the account will be lost.</p>
    <p><strong>There will be no refunds. This action is final.</strong></p>
    <p>If you still want to cancel your account, enter your current password
    below and click "Yes".</p>
    
    <div class="field">
      <%= label_tag 'Password' %>
      <%= password_field_tag :password, '' %>
    </div>
  <% end -%>
</div>

<div id="paymentDialog" class="dialog">
</div>
