<h2>Accounts</h2>

<%= messages %>
<div class="accounts">
  <div class="buttonsLeft">
    <%= button_to 'Add Account', new_account_path, :method => :get %>
  </div>
  
  <div class="clear spacer"></div>
  
  <%= render :partial => 'list', :locals => {:account => @account, :accounts => @accounts} %>
</div>

<!--
<div>
  <%= link_to 'Create Account', new_account_path, :class => 'simple' %>
  <br/><br/>
</div>

<div>
  <table class="data">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Reseller?</th>
        <th>Can Create Resellers?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| -%>
        <tr>
          <td><%= account.number %></td>
          <td><%= account.name %></td>
          <td><%= account.reseller? %></td>
          <td><%= account.can_assign_reseller? %></td>
          <td>(edit)</td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
-->