<% form_for @account do |f| -%>
  <h3>Account Details</h3>
  
  <div class="field">
    <%= f.label :number, 'Number' %>
    Account number will be auto generated
    <%= error_message_on @account, :number %>
  </div>
  
  <div class="field">
    <%= f.label :name, 'Company Name' %>
    <%= f.text_field :name, :maxlength => 50 %>
    <%= f.error_message_on :name, :prepend_text => '* Company name ' %>
  </div>

  <% if current_account.can_assign_reseller? -%>
    <h3>Reseller Options</h3>
    
    <div class="field">
      <%= f.check_box :reseller %>
      <%= f.label :reseller, 'Is a reseller? (can create accounts)', :class => 'checkbox' %>
    </div>
    
    <div class="field">
      <%= f.check_box :can_assign_reseller %>
      <%= f.label :can_assign_reseller, 'Can create reseller accounts?', :class => 'checkbox' %>
    </div>
  <% end -%>
  
  <% f.fields_for :users do |u| -%>
    <h3>Admin User</h3>
    <div class="field">
      <%= u.label :email, 'Email' %>
      <%= u.text_field :email %>
      <%= u.error_message_on :email, :prepend_text => '* Email ' %>
    </div>
    
    <div class="field">
      <%= u.label :login, 'Login' %>
      <%= u.text_field :login %>
      <%= u.error_message_on :login, :prepend_text => '* Login ' %>
    </div>
    
    <div class="field">
      <%= u.label :password, 'Password' %>
      <%= u.text_field :password %>
      <%= u.error_message_on :password, :prepend_text => '* Password '%>
    </div>
    
    <div class="field">
      <%= u.label :password_confirmation, 'Confirm Password' %>
      <%= u.text_field :password_confirmation %>
      <%= u.error_message_on :password_confirmation, :prepend_text => '* Confirm Password ' %>
    </div>
  <% end -%>
  
  <div class="buttons">
    <%= link_to 'Cancel', accounts_path, :class => 'simple' %>
    <%= f.submit 'Save' %>
  </div>
  
<% end -%>