<div id="pane1">
  <%= image_tag '/images/product/connect_this_to_this.jpg', :width => 310, :height => 165 %>
  <%= image_tag '/images/product/click_here_to_buy.jpg', :width => 310, :height => 165 %>
</div>

<div id="pane3" class="corners">
  <%= messages %>
  
  <%= render :partial => 'wizard/steps', :locals => {:selected => :create_account} %>
  
  <div class="wizard">
    <div class="spacer"></div>
    <div class="indent">
      <p>An email containing an activation link has been sent to you at <b><%= @account.email %></b>.
      You must click this link to complete the account activation process.  Once your account has been activated,
      you can continue through the setup process for your MOBD system.</p>
      
      <p>Please check your email.  If you do not see this email within the next few minutes, please check your
      spam folder.</p>
    </div>

  <div class="spacer"></div>
  <div class="spacer"></div>
  <p><%= link_to 'Return to login page', login_path, {:class => 'simple'} %></p>
</div>